<!DOCTYPE html>
<html>
 
<title>go travels </title>
  <style>
    h1{
      font-size:65px;
      font-family:Roboto;
      font-weight:normal;
      color:rgb[100,100,100];
      text-align:center;
    }
    #tour {
      width:100%;
      height:245px;
      object-fit:cover;
    }
    h2{
      text-align:center;
    }
    #container{
      max-width:750px;
      margin:0 auto;
    }
  </style>
  <body>
    <div id="container"">
    <h1>Welcome to Go travels</h1>
    <p>Go travel is a website that allows you to plan your next trip.</p>
    <p>We have a wide range of destinations, from the beautiful countryside to the bustling city centres.</p>
    <img id="tour" src="https://0cc636cc-eb02-46ac-b6f3-44bad611e16f-00-2kvkyyl93pkqu.pike.replit.dev:8080/static/tours-and-travels-services.jpg" height="320p">
    <h2>About us</h2>
    <p>

      𝕿𝖗𝖆𝖛𝖊𝖑 𝖋𝖔𝖗 𝖆 𝖑𝖔𝖓𝖌 𝖙𝖎𝖒𝖊 𝖍𝖆𝖘 𝖇𝖊𝖊𝖓 𝖆𝖘𝖘𝖔𝖈𝖎𝖆𝖙𝖊𝖉 𝖜𝖎𝖙𝖍 𝖑𝖊𝖎𝖘𝖚𝖗𝖊 𝖆𝖓𝖉 𝖕𝖑𝖊𝖆𝖘𝖚𝖗𝖊. 𝕭𝖚𝖙 𝖜𝖎𝖙𝖍 𝖙𝖍𝖊 𝖜𝖔𝖗𝖑𝖉 𝖊𝖛𝖔𝖑𝖛𝖎𝖓𝖌 𝖆𝖙 𝖘𝖚𝖈𝖍 𝖆 𝖋𝖆𝖘𝖙 𝖕𝖆𝖈𝖊, 𝖙𝖗𝖆𝖛𝖊𝖑 𝖎𝖘 𝖓𝖔𝖜 𝖆𝖑𝖘𝖔 𝖇𝖊𝖎𝖓𝖌 𝖗𝖊𝖈𝖔𝖌𝖓𝖎𝖟𝖊𝖉 𝖋𝖔𝖗 𝖎𝖙𝖘 𝖛𝖊𝖗𝖘𝖆𝖙𝖎𝖑𝖊 𝖖𝖚𝖆𝖑𝖎𝖙𝖎𝖊𝖘 𝖆𝖓𝖉 𝖗𝖊𝖆𝖘𝖔𝖓𝖘. 𝕻𝖊𝖔𝖕𝖑𝖊 𝖙𝖍𝖊𝖘𝖊 𝖉𝖆𝖞𝖘 𝖆𝖗𝖊 𝖖𝖚𝖎𝖙𝖊 𝖊𝖋𝖋𝖎𝖈𝖎𝖊𝖓𝖙 𝖎𝖓 𝖕𝖑𝖆𝖓𝖓𝖎𝖓𝖌 𝖆 𝖌𝖗𝖊𝖆𝖙 𝖙𝖔𝖚𝖗 𝖆𝖑𝖑 𝖇𝖞 𝖙𝖍𝖊𝖒𝖘𝖊𝖑𝖛𝖊𝖘, 𝖇𝖚𝖙 𝖜𝖊 𝖆𝖗𝖊 𝖘𝖙𝖎𝖑𝖑 𝖇𝖊𝖙𝖙𝖊𝖗. 𝕬𝖘 𝖆 𝕿𝖗𝖆𝖛𝖊𝖑 𝖆𝖌𝖊𝖓𝖈𝖞 𝖎𝖓 𝕮𝖔𝖎𝖒𝖇𝖆𝖙𝖔𝖗𝖊, 𝖜𝖊 𝖔𝖋𝖋𝖊𝖗 𝖆 𝖉𝖊𝖑𝖚𝖌𝖊 𝖔𝖋 𝖙𝖗𝖆𝖛𝖊𝖑 𝖆𝖓𝖉 𝖙𝖔𝖚𝖗𝖎𝖘𝖒 𝖘𝖊𝖗𝖛𝖎𝖈𝖊𝖘 𝖗𝖎𝖌𝖍𝖙 𝖋𝖗𝖔𝖒 𝖙𝖍𝖊 𝖎𝖓𝖈𝖊𝖕𝖙𝖎𝖔𝖓 𝖔𝖋 𝖞𝖔𝖚𝖗 𝖕𝖑𝖆𝖓 𝖙𝖔 𝖌𝖊𝖙 𝖞𝖔𝖚 𝖇𝖆𝖈𝖐 𝖙𝖔 𝖞𝖔𝖚𝖗 𝖍𝖚𝖒𝖇𝖑𝖊 𝖆𝖇𝖔𝖉𝖊𝖘.

      𝕻𝖑𝖆𝖓𝖓𝖎𝖓𝖌 𝖆 𝖙𝖔𝖚𝖗, 𝖊𝖘𝖕𝖊𝖈𝖎𝖆𝖑𝖑𝖞 𝖆 𝖑𝖔𝖓𝖌 𝖙𝖔𝖚𝖗 𝖗𝖊𝖆𝖑𝖑𝖞 𝖙𝖆𝖐𝖊𝖘 𝖆 𝖙𝖔𝖑𝖑 𝖔𝖓 𝖞𝖔𝖚. 𝖄𝖔𝖚 𝖓𝖔𝖙 𝖔𝖓𝖑𝖞 𝖍𝖆𝖛𝖊 𝖙𝖔 𝖒𝖆𝖐𝖊 𝖗𝖊𝖘𝖊𝖗𝖛𝖆𝖙𝖎𝖔𝖓𝖘 𝖆𝖓𝖉 𝖇𝖔𝖔𝖐𝖎𝖓𝖌𝖘 𝖇𝖚𝖙 𝖞𝖔𝖚 𝖆𝖑𝖘𝖔 𝖍𝖆𝖛𝖊 𝖙𝖔 𝖊𝖓𝖘𝖚𝖗𝖊 𝖙𝖍𝖆𝖙 𝖊𝖛𝖊𝖗𝖞𝖙𝖍𝖎𝖓𝖌 𝖋𝖎𝖙𝖘 𝖎𝖓 𝖞𝖔𝖚𝖗 𝖇𝖚𝖉𝖌𝖊𝖙. 𝖂𝖊 𝖐𝖓𝖔𝖜 𝖎𝖙’𝖘 𝖆 𝖍𝖆𝖘𝖘𝖑𝖊! 𝕭𝖚𝖙 𝖜𝖍𝖞 𝖌𝖔 𝖙𝖍𝖗𝖔𝖚𝖌𝖍 𝖍𝖔𝖚𝖗𝖘 𝖆𝖓𝖉 𝖍𝖔𝖚𝖗𝖘 𝖔𝖋 𝖗𝖊𝖘𝖊𝖆𝖗𝖈𝖍 𝖙𝖔 𝖋𝖎𝖓𝖉 𝖙𝖍𝖊 𝖒𝖔𝖘𝖙 𝖔𝖕𝖙𝖎𝖒𝖚𝖒 𝖕𝖑𝖆𝖓 𝖆𝖓𝖉 𝖎𝖙𝖎𝖓𝖊𝖗𝖆𝖗𝖞 𝖜𝖍𝖊𝖓 𝖜𝖊 𝖆𝖗𝖊 𝖍𝖊𝖗𝖊 𝖙𝖔 𝖙𝖆𝖐𝖊 𝖈𝖆𝖗𝖊 𝖔𝖋 𝖊𝖛𝖊𝖗𝖞𝖙𝖍𝖎𝖓𝖌 𝖋𝖔𝖗 𝖞𝖔𝖚.</p>
    <h2>Travels packages</h2>
    
     <div style="text-align:center;"">
    <button>Book now</button>
     </div>
      </div>
  </body>
</html>